.completer {
    position: relative;
}

.completer-container {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    ul {
        background: none repeat scroll 0 0 #ffffff;
        border-top: 1px dotted #ccc;
        display: none;
        margin-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        position: relative;
        top: -1px;

        li {
            background: inherit;
            border-color: #ccc;
            border-image: none;
            border-style: solid;
            border-width: 0 1px;
            display: block;
            font-size: 14px;
            font-weight: normal;
            padding: 4px 12px;

            &:hover {
                background: #ebebeb;
            }

            &:first-child {
                border-radius: 0 0 2px 2px;
                border-width: 0 1px 1px;
            }

            &.selected {
                background: none repeat scroll 0 0 #ebebeb;
                cursor: pointer;
                font-weight: bold;

                span {
                    font-weight: bold;
                }
            }

            span {
                font-weight: normal;
            }
        }
    }
}


